:root {
  --text-black-color: #000000;
  --text-grey-color: #cacaca;
  --text-white-color: #ffffff;
  --text-orange-color: #f90;

  --bg-white-color: #ffffff;
  --bg-black-color: #000000;

  --button-default-color: #ff9900;
  --button-hover-color: #ffb84d;
  --button-focus-color: #ffb84d;
  --button-active-color: #e1670e;

  --header-link-border-hover-color: #ff9900;
  --header-link-outline-focus-color: #ff9900;
  --header-link-border-active-color: #e1670e;
  --header-link-text-active-color: #e1670e;

  --about-button-border-default-color: #ff9900;
  --about-button-hover-color: #ff9900;
  --about-button-focus-color: #ff9900;
  --about-button-active-color: #e1670e;

  --how-tabs-default-color: #000000;
  --how-tabs-hover-color: #ff9900;
  --how-tabs-focus-color: #ff9900;
  --how-tabs-active-color: #e1670e;

  --how-btn-two-default-color: #000000;
  --how-btn-two-hover-color: #666666;
  --how-btn-two-focus-color: #666666;
  --how-btn-two-active-color: #000000;

  --fag-border-hover-color: #ff9900;
  --fag-border-focus-color: #ff9900;
  --fag-text-hover-color: #ff9900;
  --fag-text-focus-color: #ff9900;

  --fag-universal-border-color: #ff9900;
  --fag-universal-text-color: #ff9900;

  --footer-link-default-color: #cacaca;
  --footer-link-hover-color: #ff9900;
  --footer-link-focus-color: #cacaca;
  --footer-link-active-color: #e1670e;

  --footer-outline-focus-color: #ff9900;

  --footer-input-default-color: #414141;
  --footer-input-hover-color: #666666;
  --footer-input-focus-color: #666666;
  --footer-input-active-color: #666666;

  --footer-textarea-default-color: #414141;
  --footer-textarea-text-active-color: #ffffff;

  --footer-universal-input-color: #666666;
  --footer-universal-textarea-color: #666666;

  --footer-universal-button-color: #ffb84d;
  --footer-button-active-color: #e1670e;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

main {
  background-color: var(--bg-white-color);
}

.container {
  max-width: 1770px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    max-width: 924px;
  }
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .container {
    max-width: 668px;
  }
}
@media screen and (max-width: 320px) {
  .container {
    max-width: 290px;
  }
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-left {
  display: flex;
  align-items: flex-start;
}
@media screen and (max-width: 320px) {
}
